.benefits {
    padding: 15px 0px;
    background-color: #bbd6db;
}

.benefits__item {
    margin: 0 auto 15px;
    display: flex;
    width: 375px;
    max-width: 100%;
}

.benefits__icon {
    width: 94px;
    max-width: 100%;
    height: 60px;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-1{
    background-image: url(/images/icons/benefits/property.png);
}

.icon-2 {
    background-image: url(/images/icons/benefits/house.png);
}

.icon-3 {
    background-image: url(/images/icons/benefits/security.png);
}

.icon-4 {
    background-image: url(/images/icons/benefits/money.png);
}

.benefits__text {
    margin: 10px 0px 0px -10px;
    padding: 0px 10px 0px 26px;
    display: flex;
    align-items: center;
    width: 272px;
    height: 60px;
    color: #ffff;
    background-color: #3d3d3d;
    box-shadow: -2px 2px rgba(0, 0, 0, 0.35);  
}

