.footer {
    background-color: #3d3d3d;
}

.footer__wrap {

  @media (min-width: $screen-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
    margin: 0 auto 30px;
    display: block;
    width: 250px;
    max-width: 100%;

  @media (min-width: $screen-tablet) {
      margin: 0px;
  }
}

.footer__contacts {
    margin: 0px 0px 30px;

  @media (min-width: $screen-tablet) {
      margin: 0px;
      order: 3;
  }
}

.contacts__item_margin-bottom {
  margin-bottom: 20px;
}

.contacts__link_font-size {
  font-size: 20px;
}

.footer__social {
    margin: 0 auto;
    width: 100px;
    display: flex;
    justify-content: space-between;

  @media (min-width: $screen-tablet) {
    margin: 0px;
    // order: 2;
  }
}

.social__icon {
    width: 40px;
}