.for-whom {
  padding: 30px 0px 0px;

  @media (min-width: $screen_pc) {
    padding: 50px 0px 0px;
  }
}

.for-whom__list {
  @media (min-width: $screen_tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $screen_pc) {
    flex-wrap: nowrap;
  }
}

.for-whom__item {
  font-size: 0px;
  position: relative;

  @media (min-width: $screen_pc) {
    margin: 0px;
  }
}

.for-whom__img {
  max-width: 100%;
  font-size: 0;

  @media (min-width: $screen_tablet) {
    width: 370px;
  }
  @media (min-width: $screen_pc) {
    width: auto;
    max-width: 100%;
  }
}

.for-whom__subheading-wrap {
  display: flex;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 58px;

  &::before {
    content: '';
    margin-right: 12px;
    display: block;
    width: 4px;
    height: 40px;
    background-color: #e57828;
  }
}

.for-whom__subheading {
  padding-right: 10px;
  margin: 0px;
  width: 100%;
  font-family: 'Solomon Sans Bold';
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
