.infrastructure {
  padding: 30px 0px;

  @media (min-width: $screen-pc) {
    padding: 50px 0px;
  }
}
.infrastructure__title {
  margin-bottom: 40px;
}

.infrastructure__list {
  padding: 0px;

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $screen-pc) {
    justify-content: space-around;
  }
}

.infrastructure__item {
  margin: 50px auto 10px;
  display: block;
  width: 355px;
  max-width: 100%;
  border: 2px solid transparent;
  border-image-slice: 1;
}

.infrastructure__line_left {
  border-image: linear-gradient(
    100deg,
    $color-secondary 0 35%,
    transparent 35% 100%
  );
  border-image-slice: 1;
}

.infrastructure__line_right {
  border-image: linear-gradient(
    -100deg,
    $color-secondary 0 35%,
    transparent 35% 100%
  );
  border-image-slice: 1;
}

.infrastructure__icon {
  margin: 0 auto;
  width: 120px;
  height: 90px;
  transform: translateY(-50%);
  background-color: $color-primary;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: -3px 3px rgba(0, 0, 0, 0.35);
}

.infrastructure__icon-man {
  background-image: url(/images/infrastructure/man.png);
}

.infrastructure__icon-bus {
  background-image: url(/images/infrastructure/bus.png);
}

.infrastructure__content {
  padding: 0px 0px 10px 30px;
  margin: -15px 0px 20px 0px;
  list-style-type: square;
}

.infrastructure__map {
  margin: 0 -10px;
  position: relative;

  @media (min-width: $screen-tablet) {
    order: 3;
    width: 100%;
  }
}

.marker {
  position: absolute;
  top: 50px;
  right: 180px;

  @media (min-width: $screen-tablet) {
    top: 0px;
    right: 130px;
  }

  @media (min-width: $screen-pc) {
    top: 40px;
    right: 240px;
  }
}

.marker__icon {
    margin: 0 auto 4px;
    display: block;
    width: 30px;
}

.marker__name {
    font-weight: 700;
}

.infrastructure__img {
  width: 100%;
  height: 260px;

  object-fit: cover;
  object-position: 90% center;

  @media (min-width: $screen-tablet) {
    object-fit: unset;
    object-position: unset;
    height: auto;
  }
}

.infrastructure__point {
  margin-bottom: 10px;
}
