.introduction {
  @media (min-width: $screen-tablet) {
    padding: 50px 0px 0px;
  }
}

.mission__text {
  padding-bottom: 100px;
  background-image: url(/images/mission-bg-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.introduction__title {
  margin-bottom: 25px;
}

.introduction__text {
  margin: 0px 0px 25px;
  text-align: center;
  font-size: 18px;
}

.introduction__text_mb {
  margin-bottom: 0px;
}

.introduction__text_bold {
  display: block;
  font-weight: 700;
}

.action-text {
  padding: 15px 0px;
  text-align: center;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ff9a00;
}
