.viewing {
  padding-bottom: 80px;

  @media (min-width: $screen-pc) {
    padding-bottom: 80px;
  }
}

.viewing__slider {
  margin: 0 auto;
  width: 355px;
  max-width: 100%;

  @media (min-width: $screen-tablet) {
    width: 748px;
  }
  @media (min-width: $screen-pc) {
    width: 100%;
  }
}

.viewing__name {
  padding: 5px 0px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 22px;

  &::after {
    content: '';
    display: block;
    width: 96px;
    max-width: 100%;
    height: 20px;
    background-image: url(/images/view/triangle-line.png);
    background-repeat: no-repeat;

    @media (min-width: $screen-pc) {
      margin-right: 30px;
    }
  }
}

.viewing__item {
  width: 355px;
  max-width: 100%;
  &:focus {
    outline: none;
  }
}

.viewing__slider .plans_dots-style {
  width: 150px;
}

.viewing__img {
  width: 355px;
  max-width: 100%;
}

.viewing_dots-style {
  margin: 0px;
  padding: 0px;
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -43px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.viewing_dots-style button {
  width: 11px;
  height: 11px;
  font-size: 0px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #d7d7d7;
  outline: none;
}

.viewing_dots-style li[class='slick-active'] button {
  background: #e57828;
}

.viewing__slider .slick-arrow {
  position: absolute;
  bottom: -56px;
  font-size: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.viewing__slider .slick-arrow.slick-prev {
  left: 0;
  background: url('/images/plans/arrows/arrow-left.png') 0 0 / 100% no-repeat;

  &:focus {
    outline: none;
  }

  @media (min-width: $screen_tablet) {
    left: 30%;
  }
}

.viewing__slider .slick-arrow.slick-next {
  right: 0;
  background: url('/images/plans/arrows/arrow-right.png') 0 0 / 100% no-repeat;

  &:focus {
    outline: none;
  }

  @media (min-width: $screen_tablet) {
    right: 30%;
  }
}
