.plans {
  padding: 30px 0px;
  background-image: url(/images/plans-bg.png);
  border-bottom: 10px solid $color-secondary;

  @media (min-width: $screen-pc) {
    padding: 50px 0px;
  }
}

.plans__title {
  margin-bottom: 30px;
  color: #ffffff;

  @media (min-width: $screen-pc) {
    margin-bottom: 50px;
  }
}

.plans__slider {
  margin: 0 auto;
  width: 375px;
  padding-bottom: 20px;
  max-width: 100%;

  @media (min-width: $screen-tablet) {
    width: 1000px;
  }
}

.plans__item {
  padding: 0px 10px;
  width: 375px;
  max-width: 100%;
  // display: block;

  @media (min-width: $screen-pc) {
    width: 100%;
    // display: flex;
  }
}

.plans__slider .slick-slide {
  display: block;

  @media (min-width: $screen-tablet) {
    display: flex;
    justify-content: center;
  }
}

.plans__drawing {
  width: 375px;
  max-width: 100%;
  // min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  // background-color: #3d3d3d;
  // background-image: url(/images/plans/dots-top-right.png),
  //   url(/images/plans/dots-down-left.png);
  // background-position: top right, bottom left;
  // background-repeat: no-repeat;

  @media (min-width: $screen-tablet) {
    width: 50%;
    height: auto;
  }
}

.plans__img {
  margin: 0 auto;
  display: block;
  width: 95%;
  max-width: 100%;
  border: 1px solid #ffffff;
}

.parameters {
  padding: 20px 20px;
  width: 375px;
  max-width: 100%;

  @media (min-width: $screen-tablet) {
    width: 50%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    justify-content: flex-start;
  }
}

.parameters__item {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.parameters__name,
.parameters__value {
  margin: 0px;
}

.plans_dots-style {
  padding: 0px 30px;
  width: 375px;
  max-width: 100%;
  position: absolute;
  // transform: translateX(-50%);
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  list-style: none;

  @media (min-width: $screen-tablet) {
    padding-left: 20px;
    width: 50%;
    right: 0;
    // left: calc(50% + 20px);
  }
}

.plans_dots-style button {
  width: 5px;
  height: 5px;
  font-size: 0px;
  border: none;
  // border-radius: 50%;
  background-color: #d7d7d7;
  outline: none;
}

.plans_dots-style li[class='slick-active'] button {
  background: #e57828;
}

/* Стилизация стрелок */

// .photo__slider .slick-arrow,
.plans__slider .slick-arrow {
  position: absolute;
  margin-right: 30px;
  bottom: 20px;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 0;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

// .photo__slider .slick-arrow.slick-prev,

.plans__slider .slick-arrow.slick-prev {
  right: 50px;
  background: url('/images/plans/arrows/arrow-left.png') 0 0 / 100% no-repeat;

  @media (min-width: $screen_tablet) {
    right: 50px;
  }
}

// .photo__slider .slick-arrow.slick-next,
.plans__slider .slick-arrow.slick-next {
  right: 0px;
  background: url('/images/plans/arrows/arrow-right.png') 0 0 / 100% no-repeat;

  @media (min-width: $screen_tablet) {
    // right: 30%;
    right: 0;
  }
}

.flat__text {
  text-align: center;
}

.flat__line {
  display: block;
  margin: 10px auto;
}
.flat__text_bold {
  margin-bottom: 30px;
  font-weight: 700;

  @media (min-width: $screen_tablet) {
  margin-bottom: 50px;
  }
}

.falat__list {
  list-style-type: square;
}

.flat__img {
  max-width: 100%;
}

.flat__content {
  @media (min-width: $screen_tablet) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.flat__list {
  @media (min-width: $screen_tablet) {
    width: 50%;
  }
}

.flat__img {
  @media (min-width: $screen_tablet) {
    width: 50%;
  }
}

// // .plans__title {
// //   display: flex;
// //   justify-content: center;
// //   align-items: center;
// //   width: 100%;
// //   height: 100px;
// //   color: #ffffff;
// //   background-color: #262626;

// //   @media (min-width: $screen_pc) {
// //     height: 200px;
// //   }
// // }

// // .plans__type {
// //   @media (min-width: $screen_pc) {
// //     display: flex;
// //     align-items: center;
// //   }
// // }

// .plans__visual {
//   width: 100%;

//   @media (min-width: $screen_pc) {
//     width: 40%;
//   }
// }

// // .plans__heading {
// //   width: 100%;
// //   display: flex;

// //   font-family: 'Solomon Semi Bold';
// //   font-size: 18px;
// //   color: #ffffff;

// //   @media (min-width: $screen_pc) {
// //     font-size: 22px;
// //   }
// // }

// .plans__caption,
// .plans__area {
//   margin: 0px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .plans__caption {
//   padding: 0px 10px;
//   width: 80%;
//   height: 60px;
//   background-color: #000000;
// }

// .plans__area {
//   width: 20%;
//   height: 60px;

//   background-color: #e57828;
// }

// .plans__slider {
//   margin: 0 auto;
//   width: 100%;
// }

// .plans__item {
//   width: 300px;
// }
// .plans__img {
//   margin: 0 auto;
//   width: 100%;
//   display: block;
// }

// // .plans__info {
// //   padding: 20px 0px;

// //   @media (min-width: $screen_tablet) {
// //     width: 100%;
// //     display: flex;
// //     align-items: center;
// //   }

// //   @media (min-width: $screen_pc) {
// //     padding: 0px;
// //     width: 60%;
// //     display: flex;
// //     justify-content: space-around;
// //   }
// // }

// // .div-test {
// //   margin: 0 auto;
// //   padding: 0px 14px;
// //   width: 470px;
// //   max-width: 100%;

// //   @media (min-width: $screen_tablet) {
// //     padding: 0px;
// //     width: 50%;
// //   }

// //   @media (min-width: $screen_pc) {
// //     margin: 0px;
// //     padding: 0px;
// //     width: 40%;
// //     max-width: 100%;

// //     display: flex;
// //     align-items: center;
// //   }

// // }

// // .drawing__img {
// //   margin-bottom: 14px;
// //   width: 100%;

// //   @media (min-width: $screen_pc) {
// //     width: 100%;
// //   }
// // }

// .parameters {
//   margin: 0 auto;
//   width: 300px;

//   @media (min-width: $screen_pc) {
//     margin: 0;
//     width: 40%;
//   }

// }

// .parameters__heading {
//   margin-bottom: 14px;

//   @media (min-width: $screen_pc) {
//     margin-bottom: 6%;
//   }
// }

// .parameters__item {
//   margin-bottom: 14px;
//   width: 100%;
//   display: flex;
//   justify-content: space-between;

//   @media (min-width: $screen_pc) {
//     margin: 0 auto 5%;
//     width: 80%;
//   }
// }

// .parameters__item:last-child {
//   margin-bottom: 0px;
// }

// .parameters__list {
//   margin-bottom: 6%;

//   @media (min-width: $screen_pc) {
//     margin-bottom: 38px;
//   }
// }

// .parameters__name,
// .parameters__value {
//   margin: 0px;
// }

// .parameters__btn {
//   margin: 0 auto;
// }
