.plans {

  padding: 30px 0px 100px;

  @media (min-width: $screen-pc) {
    padding: 50px 0px;
}
}

.plans__slider {
  margin: 0 auto;
  // width: 375px;
  max-width: 100%;
}

.plans__item {
  padding: 0px 10px;
  width: 375px;
  max-width: 100%;
}

.plans__drawing {
  width: 375px;
  max-width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  // border-top: 2px solid $color-secondary;
  background-color: #3d3d3d;
  background-image: url(/images/plans/dots-top-right.png), url(/images/plans/dots-down-left.png);
  background-position: top right, bottom left;
  background-repeat: no-repeat;

}

.plans__img {
  margin: 0 auto;
  display: block;
  // width: 355px;
  width: 95%;
  max-width: 100%;
  border: 1px solid #ffffff;
}

.parameters {
  padding: 20px 20px;

  width: 375px;
  max-width: 100%;
  // border-top: 2px solid $color-secondary;

  // border-bottom: 2px solid $color-secondary;
  // background-color: $color_primary;

  background-color: #3d3d3d;

  &::after {
    content: '';
    margin-bottom: 15px;
    display: block;
    width: 220px;
    height: 2px;
    position: absolute;
    bottom: 0;
   background-color: $color-secondary; 
  }

}

.parameters__item {
  // padding: 0px 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;

  // &:last-child {
  //   margin-bottom: 0px;
  // }
}

.parameters__name,
.parameters__value {
  margin: 0px;
}


.plans_dots-style {
  padding: 0px;
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.plans_dots-style button {
  width: 11px;
  height: 11px;
  font-size: 0px;
  border: none;
  border-radius: 50%;
  background-color: #d7d7d7;
  outline: none;
}

.plans_dots-style li[class='slick-active'] button {
  background: #e57828;
}

/* Стилизация стрелок */

// .photo__slider .slick-arrow,
.plans__slider .slick-arrow {
  position: absolute;
  // top: 50%;
  bottom: -80px;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 0;
  width: 17px;
  height: 36px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.photo__slider .slick-arrow.slick-prev,
.plans__slider .slick-arrow.slick-prev {
  left: 50px;
  background: url('/images/plans/arrows/arrow-left.png') 0 0 / 100% no-repeat;

  @media (min-width: $screen_tablet) {
    left: 30%;
  }
}

.photo__slider .slick-arrow.slick-next,
.plans__slider .slick-arrow.slick-next {
  right: 50px;
  background: url('/images/plans/arrows/arrow-right.png') 0 0 / 100% no-repeat;

  @media (min-width: $screen_tablet) {
    right: 30%;
  }
}


// // .plans__title {
// //   display: flex;
// //   justify-content: center;
// //   align-items: center;
// //   width: 100%;
// //   height: 100px;
// //   color: #ffffff;
// //   background-color: #262626;

// //   @media (min-width: $screen_pc) {
// //     height: 200px;
// //   }
// // }

// // .plans__type {
// //   @media (min-width: $screen_pc) {
// //     display: flex;
// //     align-items: center;
// //   }
// // }

// .plans__visual {
//   width: 100%;

//   @media (min-width: $screen_pc) {
//     width: 40%;
//   }
// }

// // .plans__heading {
// //   width: 100%;
// //   display: flex;

// //   font-family: 'Solomon Semi Bold';
// //   font-size: 18px;
// //   color: #ffffff;

// //   @media (min-width: $screen_pc) {
// //     font-size: 22px;
// //   }
// // }

// .plans__caption,
// .plans__area {
//   margin: 0px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .plans__caption {
//   padding: 0px 10px;
//   width: 80%;
//   height: 60px;
//   background-color: #000000;
// }

// .plans__area {
//   width: 20%;
//   height: 60px;

//   background-color: #e57828;
// }

// .plans__slider {
//   margin: 0 auto;
//   width: 100%;
// }

// .plans__item {
//   width: 300px;
// }
// .plans__img {
//   margin: 0 auto;
//   width: 100%;
//   display: block;
// }

// // .plans__info {
// //   padding: 20px 0px;

// //   @media (min-width: $screen_tablet) {
// //     width: 100%;
// //     display: flex;
// //     align-items: center;
// //   }

// //   @media (min-width: $screen_pc) {
// //     padding: 0px;
// //     width: 60%;
// //     display: flex;
// //     justify-content: space-around;
// //   }
// // }

// // .div-test {
// //   margin: 0 auto;
// //   padding: 0px 14px;
// //   width: 470px;
// //   max-width: 100%;

// //   @media (min-width: $screen_tablet) {
// //     padding: 0px;
// //     width: 50%;
// //   }

// //   @media (min-width: $screen_pc) {
// //     margin: 0px;
// //     padding: 0px;
// //     width: 40%;
// //     max-width: 100%;

// //     display: flex;
// //     align-items: center;
// //   }

// // }

// // .drawing__img {
// //   margin-bottom: 14px;
// //   width: 100%;

// //   @media (min-width: $screen_pc) {
// //     width: 100%;
// //   }
// // }

// .parameters {
//   margin: 0 auto;
//   width: 300px;

//   @media (min-width: $screen_pc) {
//     margin: 0;
//     width: 40%;
//   }

// }

// .parameters__heading {
//   margin-bottom: 14px;

//   @media (min-width: $screen_pc) {
//     margin-bottom: 6%;
//   }
// }

// .parameters__item {
//   margin-bottom: 14px;
//   width: 100%;
//   display: flex;
//   justify-content: space-between;

//   @media (min-width: $screen_pc) {
//     margin: 0 auto 5%;
//     width: 80%;
//   }
// }

// .parameters__item:last-child {
//   margin-bottom: 0px;
// }

// .parameters__list {
//   margin-bottom: 6%;

//   @media (min-width: $screen_pc) {
//     margin-bottom: 38px;
//   }
// }

// .parameters__name,
// .parameters__value {
//   margin: 0px;
// }

// .parameters__btn {
//   margin: 0 auto;
// }
